/* 
Site Name: 	A Miscellaneous Projects Blog
Author   :	Diane Truong
Date     :	June 3, 2017
*/

/*Note to self:
- redo headers ...
- See if spacing and spacing2 can be combined
- fix and categoriez/rename modal css
- fix and categoriez/rename projects css
*/



/* Default: Div / Wrapper
*/
#container { display: block; width: 960px; padding: 10px 0; }
#content { float: left; line-height: 1.6em; }
#hideDiv { display: none; }
div.background_shadow { display: block; width: 1052px; height: 100%; margin: 0px auto; background-color: #ffffff; box-shadow: 0px 0px 35px #888888; }
div.warning { display: block; width: 870px; margin: 0; padding: 1px; background-color: #ff5a23; opacity: 0.75; color: white; font-size: 15px;  box-shadow: 0px 5px 10px #888888; }
div.wrapper { display: block; width: 960px; margin: 0 auto; padding-left: 45px; padding-right: 45px; padding-top: 10px; padding-bottom: 40px; background-color: #ffffff; text-align: left; }
section { display: block; width: 100%; margin: 0 0 30px 0; padding: 0; }
* { box-sizing: border-box; }
.clear { display: block; clear: both; } /* clear makes the container go after the content instead of clipping it, may use this instead of just locking div height in some situations */
.clear:after { content: "." ; display: block;  visibility: hidden; height: 0; clear: both; line-height: 0; }
.one_quarter { display: block; width: 290px; margin: 0 0px 0 0; float: left; }
/* Default: Text
*/
body { margin: 0; background-color: #ffffff; font-family: Georgia, "Times New Roman", Times, serif; color: #000000; font-size: 14px;  }
h1 { margin: 0; padding: 0; font-family: Georgia, "Times New Roman", Times, serif; font-size: 16px; font-style: normal; line-height: normal; text-transform: uppercase; }
h2 { margin: 0; padding: 0; font-family: Georgia, "Times New Roman", Times, serif; font-size: 16px; font-style: normal; line-height: normal; text-transform: uppercase; }
h3 { margin: 0; padding: 0; font-family: 'Raleway', sans-serif; font-size: 16px; font-style: normal; line-height: normal; text-transform: uppercase; }
h4 { margin: 0; padding: 0; font-family: 'Quicksand', sans-serif; font-size: 25px; font-style: normal; line-height: normal; text-transform: uppercase; }
h5 { margin: 0; padding: 0; font-family: 'Indie Flower', cursive; font-size: 23px; font-style: normal; line-height: normal; text-transform: uppercase; }
h6 { margin: 0; padding: 0; font-family: 'Quicksand', sans-serif; font-size: 25px; font-style: normal; line-height: normal; text-transform: uppercase; }
read_more { text-align: right; font-size: smaller; font-weight: bold; text-transform: uppercase; }
.center { text-align: center; font-size: 15px }
.spacing_large { padding-top: 25px; padding-bottom: 35px; }
.spacing_medium { padding-top: 25px; padding-bottom: 25px; }
.spacing_small {}
/* Default: Links
*/
a { background-color: #ffffff; color: #FF9900; text-decoration: none; }
/* Default: Images
*/
img { margin: 0; padding: 0; vertical-align: middle; line-height: normal; border: none;  }
.circle_image { border-radius: 50%; }
.image_slides { display: none; }
/* Default: Slide Shows
*/
#slideshow{display: block; max-width: 870px; border:1px solid #dedede;}
#slideshow a { display: block; padding: 9px; }
/* Default: Modals Div
*/
#container #gallery_col { display: block; width: 290px; float: left; background-color: #ffffff; }
#display_container { display: block; width: 1200px; }
#display_container #gallerydisplay_col { display: block; width: 400px; float: left; background-color: #000000; }
.caption-container { padding: 2px 16px; background-color: #000000; text-align: center; color: #ffffff; }
.modal { display: none; position: absolute; overflow: hidden; width: 100%; left: 0; top: 0; z-index: 1; padding-top: 100px; background-color: #000000; }
.modal-content { position: relative; margin: auto; padding: 0; width: 90%; max-width: 1200px; background-color: #000000; }
/* Default: Modal Buttons
*/
.close_button { position: absolute; right: 25px; top: 10px; color: #ffffff; font-size: 35px; font-weight: bold; }
.close_button:hover, .close_button:focus { color: #999; text-decoration: none; cursor: pointer; }
.cursor { cursor: pointer}
.prev_button { position: absolute; width: auto; top: 50%; margin-top: -50px; padding: 16px; background: #000000; color: #ffffff; font-size: 40px; font-weight: bold; border-radius: 0 3px 3px 0; transition: 0.6s ease; cursor: pointer; user-select: none; -webkit-user-select: none; }
.prev_button:hover { color: #FF9900; }
.next_button { position: absolute; width: auto; right: 0; top: 50%; margin-top: -50px; padding: 16px; background: #000000; color: #ffffff; font-size: 40px; font-weight: bold; border-radius: 3px 0 0 3px; transition: 0.6s ease; cursor: pointer; user-select: none; -webkit-user-select: none; }
.next_button:hover { color: #FF9900; }
/* Default: Modal Text
*/
.slide_number { position: absolute; top: 0; padding: 8px 12px; color: #f2f2f2; font-size: 12px; }
/* Default: Modal Images
*/
img.hover-shadow { transition: 0.3s }
.active { opacity: 1; }
.modal_imgPreview { opacity: 0.6; }
.modal_imgPreview:hover { opacity: 1; }
.hover-shadow:hover { box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) }
/* Default: Animations
*/
.animate-fading { animation: fading 10s infinite } @keyframes fading { 0% { opacity: 0 } 50% { opacity: 1 } 100% { opacity: 0 } }
/* Default: Page Loader
*/
#page_loader { position: absolute; width: 50px; height: 50px; left: 50%; top: 50%; z-index: 1; border-radius: 50%; border: 7px solid #ffffff; border-top: 7px solid #e2352f; border-bottom: 7px solid #e2352f; animation: spin 2s linear infinite; -webkit-animation: spin 2s linear infinite; }
@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }



/* Navigation Page: Div
*/
#header { display: block; width: 960px; }
#heading { padding: 5px 0; }
#heading h1 { font-size:30px; font-weight:normal; text-transform:none;}
#heading h2 { font-size:13px; font-weight:normal; text-transform:none;}
.navigation, .navigation a { color:#353535; background-color: #FFFFFF; } /* Overrides the default link color scheme */
/* Navigation Page: Navigation Bar
*/
nav ul { margin: 0; padding: 0; list-style: none; }
#header nav { display: block; width: 870px; padding: 10px 0; border-top: 1px solid #dedede; border-bottom: 1px solid #dedede; }
#header nav li { display: inline; margin-right: 40px; text-transform: uppercase; }
#header nav li a:hover { color: #ff9900; background-color: #ffffff; }
/* Navigation Page: Navigation Dropdown Lists
*/
.dropbtn { padding: 16px; font-size: 16px; color: #ffffff; border: none; cursor: pointer; }
.dropdown { display: inline-block; position: relative; }
.dropdown-content { display: none; position: absolute;  min-width: 160px; z-index: 3; background-color: #f9f9f9; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); }
.dropdown-content a { display: block; z-index: 3; padding: 12px 16px; color: #000000; }
.dropdown-content a:hover { z-index: 3; background-color: #f1f1f1 }
.dropdown:hover .dropdown-content { display: block; }




/* Index and Projects Page: Categories/Projects Section
*/
#projects ul { margin: 0; padding: 5px; list-style:none; }
#projects ul li { display: block; width: 100%; margin-bottom: 20px; }
#projects ul li article figure img { margin: 0; width: 150px; height: 150px; padding: 4px; float: left; }
#projects ul li article figure figcaption { display: block; padding: 15px; float: left; width: 610px; }
#projects ul li article figure h2 { font-size: 14px; }



/* Computer Graphics Page: Columns
*/
#col1 { display: block; padding: 15px; float: left; width: 290px; height: 400px; color: #000000; background-color: #f2c0b0; }
#col2 { display: block; padding: 15px; float: left; width: 290px; height: 400px; color: #ffffff; background-color: #c99e91; }
#col3 { display: block; padding: 15px; float: left; width: 290px; height: 400px; color: #000000; background-color: #ffefea; }



/* Tools Page: Image Style
*/
#figure img { width: 150px; height: 150px; margin: 0; padding: 4px; float: left; border: 1px solid #666666; }



/* Contacts Page: Contents
*/
#about { display: block; width: 870px; padding: 25px; background-color: #fff5f4; color: #000000; }
#contact { display: block; width: 870px; padding: 15px; background-color: #e5d6d5; color: #000000 }



/* Footer Page: Formatting
*/
#footer { display: block; width: 960px; height: 100px; padding: 20px 0; background: #ffffff; }
#footer p { width: 870px; margin: auto; padding: 25px; float: left; }
.footer { margin: 90px; align: center;  border-top: 1px solid #DEDEDE; }
.footer, .footer a { width: 870px; background-color: #FFFFFF; color: #000000; }








